# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@host:port/db-name"
DATABASE_URL_DOCKER="postgres://user:password@host.docker.internal:port/db-name"
ORIGIN="localhost:3000"
PUBLIC_SENTRY_DSN=""
SENTRY_DSN=""
PUBLIC_SENTRY_ENVIRONMENT="development"
SENTRY_ENVIRONMENT="development"