test-results
node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
.venv
.github/skills/ui-ux-pro-max/scripts/__pycache__
.github/prompts/**/*.pyc
.github/skills/**/*.pyc
.agents/skills/**/*.pyc


# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.kilocode
/plans
.svelte-doctor
/stitch-prompts

# Sentry Config File
.env.sentry-build-plugin
