# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb
.venv

# Miscellaneous
/static/
/drizzle/
Dockerfile
.dockerignore


.agents/
.github/
.opencode/
plans/
AGENTS.md
opencode.json
skills-lock.json
